* {
  border: none;
  margin: 4px 4px;
  border-radius: 6;
  min-height: 0;
/*  font-family: CaskaydiaCove NF SemiBold;*/
  font-family: "Hack Nerd Font";
  font-size: 20;
  color: #d2cef3;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
  opacity: 1;
}

window#waybar.hidden {
  opacity: 1;
}


#workspaces {
 color: #d2cef3;
  background-color: #17161d;
  padding: 0px 9px;
  margin: 0px 9px;
  border-radius: 16px;
  font-size: 16;
  font-family: "SpaceMono Nerd Font";

}

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px #17161d; /* Use box-shadow instead of border so the text isn't offset */
  padding: 0px 9px;
  margin: 1px 1px;
  border-radius: 6px;
  background-color: transparent;
  border-radius: 6px;
  color: #d2cef3;
}

#workspaces button.active {
  color: #c15000;
  background-color: transparent;
  border-radius: 29px;
  padding: 0px 9px;
  margin: 6px 3px;
}

#workspaces button:hover {
 box-shadow: inherit;
 text-shadow: inherit;

  color: #d2cef3;
  background-color: #17161d;
  border-radius: 6px;
  padding: 0px 9px;
  margin: 6px 3px;
}


#workspaces button.urgent {
  background-color: #f38ba8;
}

#memory,
#custom-menu,
#custom-specialworkspace,
#battery,
#pulseaudio,
#network,
#clock,
#custom-swaync,
#tray {
  border-radius: 6px;
  margin: 0px 9px;
  padding: 0px 12px;
  background-color: #1e1e2e;
  color: #181825;
}

#custom-menu {
  color: #d2cef3;
  background-color: #17161d;
  border-radius: 6px;
  padding: 0px 14px;
  margin: 0px 9px;
}

#custom-specialworkspace {
  color: #d2cef3;
  background-color: #17161d;
  border-radius: 16px;
  padding: 0px 14px;
  margin: 0px 9px;
  font-size: 20;
}


#memory {
  color: #e0def4;
  background-color: #17161d;
}

#clock {
  background-color: #d2cef3;
  color: #17161d;
  padding: 0px 9px;
  margin: 0px 0px;
  margin-left: 380px;
  border-radius: 16px;
  border-color: #ffffff;
  font-size: 16;
  font-family: "Hack Nerd Font";
}

#custom-swaync {
  color: #d2cef3;
  background-color: #17161d;
  font-size: 20;
  padding: 0px 10px;
  padding-right: 12px;
  margin: 0px 0px;
  border-radius: 16px;
}

#battery {
  color: #1f1f1f;
  font-size: 14;
  font-family: Hack Nerd Font;
  background-color: #d2cef3;
  border-radius: 16px; 
  margin: 0px 0px;
  margin-right: 450px;
  opacity: 1;
	}
	@keyframes blink {
	  to {
	    color: #181825;
	    background-color: #f38ba8;
	  }
	}
	#battery.warning,
	#battery.critical,
	#battery.urgent {
	  color: #181825;
	  background-color: #ff0048;
	  animation-name: blink;
	  animation-duration: 0.5s;
	  animation-timing-function: linear;
	  animation-iteration-count: infinite;
	  animation-direction: alternate;
	}
	#battery.charging {
	  color: #1f1f1f;
	  background-color: #d2cef3;
	}



#network {
  color: #d2cef3;
  background-color: #17161d;
  padding-right: 19px;
  border-radius: 16px;
  margin: 0px 0px;
  font-size: 13;
}

#pulseaudio {

  color: #d2cef3;
  background-color: #17161d;
  padding-right: 15;
  border-radius: 16px;
  font-size: 14;
}

tooltip {
border-radius: 6px;
padding: 1px;
background-color: #d2cef3;
}

tooltip label {
padding: 49px;
background-color: #d2cef3;
}
