* {
  border: none;
  border-radius: 3;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 16;
  color: #444444;
}

window#waybar {
  background-color: #26233a;
  transition-property: background-color;
  transition-duration: 0.5s;
  opacity: 1.0;
}

window#waybar.hidden {
  opacity: 1;
}

#tray {
  border-radius: 4px;
  margin: 0px 3px;
  padding: 0px 12px;
  background-color: #1e1e2e;
  color: #181825;
}

#memory {
  color: #111111;
  background-color: #f6c279;
  border-radius: 4;
  padding: 0px 14px;
  font-size: 19;
  margin: 0px 4px;
}

#cpu {
  color: #111111;
  background-color: #eb6f93;
  border-radius: 4;
  padding: 0px 14px;
  font-size: 19;
  margin: 0px 4px;
}





#clock {
  color: #111111;
  background-color: #8abfcb;
  border-radius: 4;
  padding: 0px 14px;
  font-size: 19;
  margin: 0px 4px;
}

#custom-jgmenu {
  color: #e0def4;
  background-color: transparent;
  border-radius: 3;
  padding: 0px 14px;
  font-size: 24;
  margin: 0px 4px;
}

#battery {
  color: #1f1f1f;
  font-size: 19;
  background-color: #ccd2ff;
  border-radius: 4px; 
  opacity: 1;
  margin: 0px 4px;
	}
	@keyframes blink {
	  to {
	    color: #181825;
	    background-color: #f38ba8;
	  }
	}
	#battery.warning,
	#battery.critical,
	#battery.urgent {
	  color: #181825;
	  background-color: #ff0048;
	  animation-name: blink;
	  animation-duration: 0.5s;
	  animation-timing-function: linear;
	  animation-iteration-count: infinite;
	  animation-direction: alternate;
	}
	#battery.charging {
	  color: #1f1f1f;
	  background-color: #75a865;
	}

#custom-firefox {
  color: #dcdcdc;
  background-color: transparent;
  padding-left: 18px;
  padding-right: 25px;
  border-radius: 4px;
  font-size: 19;
  margin: 0px 4px;
}

#custom-kitty {
  color: #dcdcdc;
  background-color: transparent;
  padding-left: 18px;
  padding-right: 25px;
  border-radius: 4px;
  font-size: 21;
  margin: 0px 4px;
}



#network {
  color: #dcdcdc;
  background-color: transparent;
  padding-left: 18px;
  padding-right: 25px;
  border-radius: 4px;
  font-size: 19;
  margin: 0px 4px;
}

#pulseaudio {

  color: #dcdcdc;
  background-color: transparent;
  padding-right: 15;
  border-radius: 4px;
  font-size: 19;
  margin: 0px 4px;
  padding: 0px 24px;
}

tooltip {
border-radius: 4px;
padding: 1px;
background-color: #dcdcdc;
}

tooltip label {
padding: 49px;
background-color: #dcdcdc;
}
